Source: golang-1.20-go
Section: devel
Priority: optional
Maintainer: Lonny Wong <lonnywong@qq.com>
Build-Depends: debhelper (>=9),
               golang-1.18-go
Standards-Version: 3.9.6
Homepage: https://go.dev
Vcs-Browser: https://github.com/golang/go
Vcs-Git: https://github.com/golang/go.git

Package: golang-1.20-go
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Go Programming Language
 Go is an open source programming language that makes it easy to build simple, reliable, and efficient software.
